html {
    background-color: #0E0E10;
}

h1 {
    color: #ffffff;
}

form {
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0.5em 0.5em 0.5em;
    margin: 2px;
}

li  {
    margin: 5px;
}

option:empty {
    display: none;
}