html {
    background-color: #0E0E10;
}

p {
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#buttonMenuPrincipal {
    text-align: center;
}

table, th, td {
    color: rgb(57, 0, 189);
    margin: 10px;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 5px;
    background-color: rgb(255, 239, 91)
}